{#https://bl.ocks.org/SevenChan07/bc57f3e891512ca56f08bbea09dcbc2a#}
{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link href="{% static 'resources\js\sunburst\sb.css' %}" rel="stylesheet">
    <div class="container-fluid">
        <!--
        Begin the work
        -->
        <h1>Simple scrolling events for d3 Sunburst</h1>

        <div id='container' class='container-1 conbody'>
            <div id='graph'></div>
            <div id='sections'>
                <div id="sec0">
                    <h3>Connect text and graphics</h3>
                    <span class='mono'>graph-scroll</span>
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                </div>

                <div id="sec1">
                    <h3>Highlight active text</h3>
                    The top most text section scrolled into view is classed <span
                        class='mono'>graph-scroll-active</span>. This makes it easy to highlight the active section with
                    css:
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                </div>


                <div id="sec2">
                    <h3>Headers and footers</h3>
                    To support headers and intro images/text, the explanatory text and graphic are wrapped with a
                    container element:
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    To support headers and intro images/text, the explanatory text and graphic are wrapped with a
                    container element:
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                </div>

                <div id="sec3">
                    <h3>Sticky graph</h3>
                    When the graph starts to scroll out of view, <span class='mono'>postiion: sticky</span> keeps the
                    graph element stuck to the top of the page while the text scrolls by.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    To support headers and intro images/text, the explanatory text and graphic are wrapped with a
                    container element:
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                </div>

            </div>

        </div>
        <!--
        End the work
        -->
    </div>
    <script>
        var all_data = {
            "name": "States",
            "children": [
                {
                    "name": "Palestine",
                    "children": [
                        {
                            "name": "Gaza",
                            "children": [
                                {
                                    "name": "North Gaza",
                                    "size": 1983
                                },
                                {
                                    "name": "Rafah",
                                    "size": 2047
                                },
                                {
                                    "name": "Khan Yunus",
                                    "size": 1375
                                },
                                {
                                    "name": "Gaza city",
                                    "children": [
                                        {
                                            "name": "Naser",
                                            "size": 1983
                                        },
                                        {
                                            "name": "Tofah",
                                            "size": 2047
                                        },
                                        {
                                            "name": "Glaa street",
                                            "size": 1375
                                        },
                                        {
                                            "name": "The beach",
                                            "size": 8746
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "name": "Ramallah",
                            "size": 2047
                        },
                        {
                            "name": "Hebron",
                            "size": 1375
                        },
                        {
                            "name": "Jercho",
                            "size": 8746
                        }
                    ]
                },
                {
                    "name": "Russia",
                    "size": 3812
                },
                {
                    "name": "Germany (FRG)",
                    "size": 6714
                },
                {
                    "name": "France",
                    "size": 743
                }
            ]
        }
    </script>
    <script>
        function getd(flag) {
            //var all_data = getFileJSON('flare.json')
            //data = all_data['data' + flag]
            // console.log(all_data)
            if (flag == 0) {
                return all_data
            }
            else if (flag == 1) {
                return _find(all_data, "Palestine")
            }
            else if (flag == 2) {
                return _find(all_data, "Gaza")
            }
            else {
                return _find(all_data, "Gaza city")
            }
        }
    </script>
    <script type="text/javascript" src="{% static 'resources\js\d3v4+jetpack.js' %}"></script>
    <script type="text/javascript" src="{% static 'resources\js\graph-scroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'resources\js\sunburst\sunburst.js' %}"></script>
    <script>
        var oldWidth = 0

        // without render there is no draw .

        function getPos(el) {
            // yay readability
            for (var lx = 0, ly = 0;
                 el != null;
                 lx += el.offsetLeft, ly += el.offsetTop, el = el.offsetParent) ;
            return {cx: lx, cy: ly};
        }

        function render() {
            if (oldWidth == innerWidth) return
            oldWidth = innerWidth
            var width = d3.select('#graph').node().offsetWidth
            var height = width
            if (innerWidth <= 925) {
                width = innerWidth
                height = innerHeight * .7
            }
            var radius = Math.min(width, height) / 2;
            const svg = d3.select('#graph')
                .append('svg')
                .attrs({id: 'rect', class: 'rectsvg', style: 'position: absolute' + ';top:' + 0 + 'px'})
                .attr('width', width)
                .attr('height', height)
                .append('g')
                .attr('transform', 'translate(' + width / 2 + ',' + (height / 2) + ')')
            setSvg(svg, radius)
            sunburst()

            var gs = d3.graphScroll()
                .container(d3.select('.container-1'))
                .graph(d3.selectAll('container-1 #graph'))
                .eventId('uniqueId1')  // namespace for scroll and resize events
                .sections(d3.selectAll('.container-1 #sections > div'))
                // .offset(innerWidth < 900 ? innerHeight - 30 : 200)
                .on('active', function (i) {
                    var pos2 = getPos(document.getElementById('sec' + i))
                    update(i)
                    if (i == 0) {
                        d3.select("#rect").transition().duration(1000)
                            .attrs({style: 'position: absolute' + ';top:' + 0 + 'px'})
                    }
                    else {
                        d3.select("#rect").transition().duration(1000)
                            .attrs({style: 'position: absolute' + ';top:' + pos2.cy / 9 + 'px'})
                    }
                })
        }

        render()
        d3.select(window).on('resize', render)

    </script>
{% endblock %}