{#https://bl.ocks.org/SevenChan07/bc57f3e891512ca56f08bbea09dcbc2a#}
{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link href="{% static 'resources\js\sunburst\sb.css' %}" rel="stylesheet">
    <div class="container-fluid">
        <!--
        Begin the work
        -->
        <h1>Simple scrolling events for d3 Sunburst</h1>

        <div id='container' class='container-1 conbody'>
            <div id='graph'></div>
            <div id='sections'>
                <div id="sec0">
                    <h3>Connect text and graphics</h3>
                </div>
                <div id="sec1">
                    <h3>Connect text and graphics</h3>
                </div>
                <div id="sec2">
                    <h3>Connect text and graphics</h3>
                </div>
                <div id="sec3">
                    <h3>Connect text and graphics</h3>
                </div>
            </div>
        </div>
        <!--
        End the work
        -->
    </div>

    <script type="text/javascript" src="{% static 'resources\js\d3v4+jetpack.js' %}"></script>
    <script type="text/javascript" src="{% static 'resources\js\graph-scroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'resources\js\sunburst\sunburst.js' %}"></script>
    <script>
        var oldWidth = 0

        // without render there is no draw .

        function getPos(el) {
            // yay readability
            for (var lx = 0, ly = 0;
                 el != null;
                 lx += el.offsetLeft, ly += el.offsetTop, el = el.offsetParent) ;
            return {cx: lx, cy: ly};
        }

        function render() {
            if (oldWidth == innerWidth) return
            oldWidth = innerWidth
            var width = d3.select('#graph').node().offsetWidth
            var height = width
            if (innerWidth <= 925) {
                width = innerWidth
                height = innerHeight * .7
            }
            var radius = Math.min(width, height) / 2;
            const svg = d3.select('#graph')
                .append('svg')
                .attr('width', width)
                .attr('height', height)
                .append('g')
                .attr('transform', 'translate(' + width / 2 + ',' + (height / 2) + ')')
            setSvg(svg,radius)
            sunburst()
            update(0)
        }

        render()
        d3.select(window).on('resize', render)

    </script>
{% endblock %}