{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link href="{% static 'resources\js\graph_scroller\gs.css' %}" rel="stylesheet">
    <div class="container-fluid">
        <!--
        Begin the work
        -->
        <h1><a href='https://github.com/1wheel/graph-scroll'>graph-scroll.js</a></h1>
        <h1>Simple scrolling events for d3 graphics</h1>

        <div id='container' class='container-1 conbody'>
            <div id='graph'></div>
            <div id='sections'>
                <div id="sec0">
                    <h3>Connect text and graphics</h3>
                    <span class='mono'>graph-scroll</span>
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                </div>

                <div id="sec1">
                    <h3>Highlight active text</h3>
                    The top most text section scrolled into view is classed <span
                        class='mono'>graph-scroll-active</span>. This makes it easy to highlight the active section with
                    css:
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                </div>


                <div id="sec2">
                    <h3>Headers and footers</h3>
                    To support headers and intro images/text, the explanatory text and graphic are wrapped with a
                    container element:
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    To support headers and intro images/text, the explanatory text and graphic are wrapped with a
                    container element:
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                </div>

                <div id="sec3">
                    <h3>Sticky graph</h3>
                    When the graph starts to scroll out of view, <span class='mono'>postiion: sticky</span> keeps the
                    graph element stuck to the top of the page while the text scrolls by.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    To support headers and intro images/text, the explanatory text and graphic are wrapped with a
                    container element:
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                    takes a selection of explanatory text sections and dispatches <span class='mono'>active</span>
                    events as different sections are scrolled into to view. These active events are used to update a
                    graph's state.
                </div>

            </div>

        </div>
        <!--
        End the work
        -->
    </div>

{% endblock %}

<!-- load my custome js -->
{% load static %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'resources\js\d3v4+jetpack.js' %}"></script>
    <script type="text/javascript" src="{% static 'resources\js\graph-scroll.js' %}"></script>
    <script>
        var oldWidth = 0

        // without render there is no draw .

        function getPos(el) {
            // yay readability
            for (var lx = 0, ly = 0;
                 el != null;
                 lx += el.offsetLeft, ly += el.offsetTop, el = el.offsetParent) ;
            return {cx: lx, cy: ly};
        }

        function placeRect(x_pos, y_pos) {
            var d = document.getElementById('rect');
            d.style.position = "absolute";
            d.style.left = x_pos + 'px';
            d.style.top = y_pos + 'px';
        }

        function render() {
            console.log('-------------render -------------')
            console.log('innerWidth = ' + innerWidth)
            if (oldWidth == innerWidth) return
            oldWidth = innerWidth
            var width = d3.select('#graph').node().offsetWidth
            var height = width

            console.log('graph offsetWidth = ' + width)
            console.log('r = ' + 40)

            var r = 40 // Radius ( 0.5 Diameter )
            if (innerWidth <= 925) {
                width = innerWidth
                height = innerHeight * .7
            }

            console.log('width = ' + width)
            console.log('height = ' + height)

            // return console.log(width, height)
            // add rectangle
            var svg = d3.select('#graph').html('')
                .append('svg')
                .attrs({id: 'rect',class:'rectsvg', style: "position: absolute;top:0px", width: width, height: height})
            // add circle
            var circle = svg.append('circle')
                .attrs({cx: 0, cy: 0, r: r})
            // colors
            var colors = ['orange', 'purple', 'steelblue', 'pink', 'black']


            var gs = d3.graphScroll()
                .container(d3.select('.container-1'))
                .graph(d3.selectAll('container-1 #graph'))
                .eventId('uniqueId1')  // namespace for scroll and resize events
                .sections(d3.selectAll('.container-1 #sections > div'))
                // .offset(innerWidth < 900 ? innerHeight - 30 : 200)
                .on('active', function (i) {
                    var pos = [{cx: width - r, cy: r},
                        {cx: r, cy: r},
                        {cx: width - r, cy: height - r},
                        {cx: width / 2, cy: height / 2}][i]
                    var pos2 = getPos(document.getElementById('sec' + i))

                    if (i == 0) {
                        svg.transition().duration(1000)
                            .attrs({style: 'position: absolute' + ';top:' + 0 + 'px'})
                    }
                    else {
                        svg.transition().duration(1000)
                            .attrs({style: 'position: absolute' + ';top:' + pos2.cy / 9 + 'px'})
                    }

                    circle.transition().duration(1000)
                        .attrs(pos)
                        .transition()
                        .style('fill', colors[i])
                })
            {#d3.select('#source')#}
            {#    .styles({'margin-bottom': window.innerHeight - 450 + 'px', padding: '100px'})#}
        }

        render()
        d3.select(window).on('resize', render)
    </script>

{% endblock %}



