{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="fade-in">
            <!-- /.row-->
            <div class="card">
                {% include 'home/map.html' %}
            </div>
        </div>
                <!-- /.row-->
        <div class="row">
            {% include 'home/cards.html' %}
            <!-- /.row-->
        </div>
        <!-- /.row-->
        <div class="row">
            {% include 'home/table.html' %}
            <!-- /.row-->
        </div>
    </div>
{% endblock %}

