<div class="card-body">
    <div class="d-flex justify-content-between">
        <div>
            <h4 class="card-title mb-0">Traffic</h4>
            <div class="small text-muted">September 2019</div>
        </div>
        <div class="btn-toolbar d-none d-md-block" role="toolbar" aria-label="Toolbar with buttons">
            <div class="btn-group btn-group-toggle mx-3" data-toggle="buttons">
                <label class="btn btn-outline-secondary">
                    <input id="option1" type="radio" name="options" autocomplete="off"> Day
                </label>
                <label class="btn btn-outline-secondary active">
                    <input id="option2" type="radio" name="options" autocomplete="off" checked=""> Month
                </label>
                <label class="btn btn-outline-secondary">
                    <input id="option3" type="radio" name="options" autocomplete="off"> Year
                </label>
            </div>
            <button class="btn btn-primary" type="button" onclick="refresh_map();">Reresh</button>
        </div>
    </div>
    <div id='WmyDiv' class="c-chart-wrapper" style="height:600px;margin-top:40px;">
        <div id='myDiv'></div>
    </div>
    <!-- /.cardbody-->

    <!-- load my custome js -->
    {% load static %}
    {% block scripts %}
        <script src="{% static 'resources\js\plotly-mapbox.min.js' %}"></script>
        <script type="module" src="{% static 'resources\js\home\map.js' %}"></script>
    {% endblock %}







